/* CSS files add styling rules to your content */
body {
  margin: 5px;
  font-family: 'Noto Sans', sans-serif;
	background-size: cover;
	background-attachment: fixed; 
}

p.red {
  color:  red;
  font-size: 14px;
  visibility: hidden;
}

.cover {
  height:400px;
  background-image:url(./assets/fondo.jpg);
  color:white;
  background-size: cover;
  background-position:center;
  background-color:rgba(0,0,0,0.5);
  background-blend-mode: darken ;
}

.cover-small{
  height:250px;
  color:white;
  background-size: cover;
  background-position:center;
  background-color:rgba(39,101,255,0.5);
  background-blend-mode:darken;
}

/* Navigation grid */
.footer {  
  background-color: rgba(39,101,255,0.8);  
  background-blend-mode:darken;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 35px 40px;
  margin: 4rem auto 0;
}

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 3rem
 }
.btn.btn-social-icon {
     width: 50px;
     height: 50px;
     padding: 0
 }

.btn-outline-twitter {
     border: 1px solid #2caae1;
     color: #2caae1
 }

 .btn-outline-twitter:hover {
     background: #2caae1;
     color: #ffffff
 }

.btn-outline-github {
     border: 1px solid #2caae1;
     color: #000000
 }

 .btn-outline-github:hover {
     background: #000000;
     color: #ffffff
 }

 aside{
  padding:5px;
 }


