/* CSS files add styling rules to your content */

body {
/*  margin: 5px;*/
  font-family: 'Noto Sans', sans-serif;
	background-size: cover;
	background-attachment: fixed; 
}

.cover {
  height:400px;
  background-image:url(./assets/fondo.jpg);
  color:white;
  background-size: cover;
  background-position:center;
  background-color:rgba(0,0,0,0.5);
  background-blend-mode: darken ;
}

.container{   
  margin-top:20px;
}

/* Navigation grid */
.footer {  
  background-color: rgba(39,101,255,0.8);  
  background-blend-mode:darken;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 35px 40px;
  margin: 4rem auto 0;
}
